# ##########
# remove commented code when ready for integration
# ##########

# push site to dev server on dev commit/merge

# on:
#   push:
#     branches:
#       - dev
# name: Deploy website (dev) over SFTP
# jobs:
#   deploy_job:
#     name: Deploy
#     runs-on: ubuntu-latest
#     steps:
#     - name: Checkout
#       uses: actions/checkout@v2

#     - name: Deploy file(s)
#       uses: wlixcc/SFTP-Deploy-Action@v1.2.4
#       with:
#         server: ${{ secrets.sftp_server }}
#         username: ${{ secrets.sftp_username }}
#         password: ${{ secrets.sftp_password }}
#         port: 22
#         local_path: './*'
#         remote_path: ${{ secrets.sftp_remote_path_dev }}